<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async; index as i">
        <th scope="row">{{i}}</th>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.phone.number}}</td>
        <td>{{user.address.address1}}</td>
        <td>{{user.name}}</td>
      </tr>
    </tbody>
  </table>
  